<div id="imgAns" class="img-answers">
  <div [ngClass]="{isDisabled}" #imgAnsConta class="img-ans-container {{answers[0].correcta}}" id="ansA" (click)="verSeleccion(imgAnsConta)">
    <p class="letter"> A </p>
    <div class="img-container">
      <img src="{{answers[0].imagen}}" class="q-img">
    </div>
  </div>
  <div [ngClass]="{isDisabled}" #imgAnsContb class="img-ans-container {{answers[1].correcta}}" id="ansB" (click)="verSeleccion(imgAnsContb)">
    <p class="letter"> B </p>
    <div class="img-container">
    <img src="{{answers[1].imagen}}" class="q-img">
    </div>
  </div>
  <div [ngClass]="{isDisabled}" #imgAnsContc  class="img-ans-container {{answers[2].correcta}}" id="ansC" (click)="verSeleccion(imgAnsContc)">
    <p class="letter"> C </p>
    <div class="img-container">
    <img src="{{answers[2].imagen}}" class="q-img">
    </div>
  </div>
  <div [ngClass]="{isDisabled}" #imgAnsContd class="img-ans-container {{answers[3].correcta}}" id="ansD" (click)="verSeleccion(imgAnsContd)">
    <p class="letter"> D </p>
    <div class="img-container">
    <img src="{{answers[3].imagen}}" class="q-img">
    </div>
  </div>
</div>
