.container{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("https://media.discordapp.net/attachments/751549067016011867/1026691811617550378/fondo_3.png?width=1373&height=676") no-repeat;
  background-size: cover;

  }

.q-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  width: 75vw;
  margin: 20px auto;
  padding:0;
  border: 8px solid white;
  border-radius: 5px;
  background-color: rgba(26, 30, 53, 0.9);
}

.q-container .question{
  width: 100%;
  height: 50%;
}

.q-container .question .q-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 50px 15px;
  border-bottom: 5px solid white;
  border-radius: 14px 14px 0 0;
  background-color: var(--darkblue);
}

.q-container .question .title, .q-content{
  margin: 0 15px 0 0;
  font-size: 30px;
  color: #FFFFFF;
}

.q-container .question .title{
  border-right: 5px solid white;
  padding: 10px 30px 0 0;
}

.q-container .question .q-content{
  align-text: center;
  width: 65%;
}

.q-container img{
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 30px 50px 30px;
}

.txt-answers{
  display: none;
  width: 100%;
  height: 40%;
  padding-bottom: 50px;
}

.txt-img{
  display: block;
  height: 30%;
  padding: 50px;
  padding-bottom: 80px;
}

.feedback{
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 25px 0;
  bottom: 0;
  text-align: center;
  font-size: 28px;
  overflow: hidden;
}

.feedback::before{
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  padding: 3px 0;
  background-color: white;
  animation: fill-bar 5s 0s ease-in-out forwards;
}

@keyframes fill-bar {
  to{
    width: 100%;
  }
}

.right{
  background-color: var(--right);
  color: var(--darkblue);
}

.wrong{
  background-color: var(--wrong);
}
