<div class="container">
  <section class="q-container">
    <div class="question">
      <div class="q-text">
        <p class="title">Pregunta 1</p>
        <p class="q-content">¿Quién inventó la bombilla?</p>
      </div>
      <img src="" alt="Question image" class="q-image">
    </div>
    <app-text-answer [questions]="questionList" [answers]="answers" class="txt-answers" id="txt-answers"></app-text-answer>
    <app-img-answer [questions]="questionList" [answers]="answers" class="txt-img" id="txt-img"></app-img-answer>
  </section>
</div>
<div id="feedback" class="feedback">
  <span id="fbtxt">Oops! Respuesta incorrecta</span>
</div>


