<div class="container">
  <section class="q-container">
    <div class="question" id="question">
      <div class="q-text" id="{{question.id}}">
        <p class="title">Pregunta <span>{{questionNumber}}</span></p>
        <p class="q-content">{{question.enunciado}}</p>
      </div>
      <img src="{{question.imagen}}" alt="Question image" class="q-image">
    </div>
    <app-text-answer (messageEvent)="reload()" [questions]="question" [answers]="answers" class="txt-answers" id="txt-answers"></app-text-answer>
    <app-img-answer (messageEvent)="reload()" [questions]="question" [answers]="answers" class="txt-img" id="txt-img"></app-img-answer>
  </section>
</div>
<div id="feedback" class="feedback">
  <span id="fbtxt">Oops! Respuesta incorrecta</span>
</div>


