.results-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://media.discordapp.net/attachments/751549067016011867/1026691811617550378/fondo_3.png?width=1344&height=662") no-repeat;
  background-size: cover;
}
.r-container{
  margin: auto;
  text-align: center;
}
.r-container .title{
  margin: 10px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bolder;
  font-family: sans-serif;
  text-shadow: 0 0 5px rgba(0,178,255,1);
}
.r-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 75vw;
  margin: 20px auto;
  border: 8px solid white;
  border-radius: 5px;
  background-color: rgba(26, 30, 53, 0.9);
}
.r-containerResult{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 68vw;
  margin: 8px auto;
  padding:10px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgba(26, 30, 53, 0.9);

}
.q-container .question{
  width: 100%;
  height: 50%;
}
.r-container .question .r-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 50px 15px;
  border-bottom: 5px solid white;
  border-radius: 14px 14px 0 0;
  background-color: var(--darkblue);
}
.r-container .question .title, .r-content{
  margin: 0 15px 0 0;
  font-size: 30px;
  color: #FFFFFF;
}

.icon-correct {
  background-image: url("https://cdn.discordapp.com/attachments/748287145080520806/1034319474943328267/Correcta.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 42%;
  width:42%;
  margin: 4px auto;
  padding:2%;
  float: left;
}
.icon-incorrect{
  background-image: url("https://cdn.discordapp.com/attachments/748287145080520806/1034318560916414504/dincorrect.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 42%;
  width: 42%;
  margin: 4px auto;
  padding:2%;
}

.r-container-result{
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 25vw;
  margin: 10px auto;
  padding:2%;
  border: 3px solid white;
  border-radius: 9px;
  background-color: rgba(26, 30, 53, 0.9);
}

.r-columnTable{
  float:left;
  width: 50%;
  height: 100%;
}
.r-columnTableIcon{
  float:left;
  width: 17vw;
  height: 2vw;
}
.r-text{
  padding: 20px;
  margin: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bolder;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
  background: rgba(26, 30, 53, 0.9);
  box-shadow: rgba(26, 30, 53, 0.9);
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 110px;
}
.scroll-container {
  display: block;
  width: 98.5%;
  height: 78vh;
  overflow-y: scroll;
}

.input-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25404.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 28px;
  height: 30px;
  border: 1px solid rgba(9, 113, 163, 1);
  border-radius: 3px;
}
.input-icon input {
  width: 100%;
  font-size: 0.9em;
  border: none;
}
.input-icon input:focus {
  outline: none;
}

.move-container {
  position: relative;
  top: 0;
  transition: top ease 0.4s;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  height: 100%;
  width: 68vw;
  margin: 7px;
  padding:5px;
  padding-left: 30px;
  border: 3px solid white;
  background-color: rgba(26, 30, 53, 0.9);
}

.move-container:hover{
  top: -6px;
}

.homeButton{
  background-image: url("https://media.discordapp.net/attachments/748287145080520806/1031346994440056912/icons8-casa-90.png");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 50px;
  height: 80px;
  width: 100px;
}

.r-image{
  justify-content: space-around;
  width: 70%;
  height: 70%;
  background-color: var(--darkblue);
}

.r-question{
  justify-content: space-around;
  width: 40%;
  height:40%;
  background-color: var(--darkblue);
  margin: 8px;
  float:right;
}
#content {
  display:block;
  content:"";
  clear:both;
}
