.contenedor-titulo{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.button-start{
  font-family: sans-serif;
  color: #fafafa;
  font-size: 35px;
  padding: 25px;
  background-color: var(--blended-db);
  border-radius: 15px;
  border-color: #fafafa;
}
.titulo{
    font-family: sans-serif;
    color: #fafafa;
    font-size: 60px;
}
.body{
    background: url("https://discord.com/channels/@me/681565022496882734/1027034957228548106");
}
.contenedor-form{
    width: 400px;
    padding: 15px;
    margin-top: 150px;
    font-family: sans-serif;
    font-size: 310;
}
.contenedor-button{
    width: 400px;
    padding: 15px;
    margin-top: 150px;
    text-align: center;
}
.label-Inicio {
    display: block;
    font-family: sans-serif;
    font-size: 25px;
    color: #fafafa;
    font-size: 310;
    margin-bottom: 10px;
}
.input-nombre{
    font-family: sans-serif;
    font-size: 35px;
    padding: 10px 20px;
    color: #fafafa;
    border-color: #fafafa;
    background-color: var(--blended-db);
    border-radius: 15px;
}
.q-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 37vw;
    margin: 20px auto;
    padding:0;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgba(26, 30, 53, 0.9);
    box-shadow: var(--blended-w)
}
