<div class="answers">
  <div class="ans-container {{answers[0].correcta}}" id="{{answers[0].id}}" [ngClass]="{isDisabled}" #ansConta (click)="verSeleccion(ansConta)">
    <p class="letter"> A </p>
    <div class="txt-answer">
      <p class="answer">{{answers[0].texto}}</p>
    </div>
    </div>
  <div class="ans-container {{answers[1].correcta}}" id="{{answers[1].id}}" [ngClass]="{isDisabled}" #ansContb (click)="verSeleccion(ansContb)">
    <p class="letter"> B </p>
    <div class="txt-answer">
      <p class="answer">{{answers[1].texto}}</p>
    </div>
  </div>
  <div class="ans-container {{answers[2].correcta}}" id="{{answers[2].id}}" [ngClass]="{isDisabled}" #ansContc (click)="verSeleccion(ansContc)">
    <p class="letter"> C </p>
    <div class="txt-answer">
      <p class="answer">{{answers[2].texto}}</p>
    </div>
  </div>
  <div class="ans-container {{answers[3].correcta}}" id="{{answers[3].id}}" [ngClass]="{isDisabled}" #ansContd (click)="verSeleccion(ansContd)">
    <p class="letter"> D </p>
    <div class="txt-answer">
      <p class="answer">{{answers[3].texto}}</p>
    </div>
  </div>
</div>
