<div class="answers">
  <div class="ans-container">
    <p class="letter"> A </p>
    <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>
  <div class="ans-container">
    <p class="letter"> B </p>
    <p class="answer">No se xd</p>
  </div>
  <div class="ans-container">
    <p class="letter"> C </p>
    <p class="answer">No se xd</p>
  </div>
  <div class="ans-container">
    <p class="letter"> D </p>
    <p class="answer">No se xd</p>
  </div>
</div>
